.rotation-app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-image-container {
  display: flex;
  align-items: center;
}

.left-buttons,
.right-buttons {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 20px; /* Adjust the margin as needed */
}

.input {
  margin: 4px;
}

.logbutton {
  margin-top: 20px;
}

.selected {
  background-color: var(--color-primary-800);
  color: #1f1d1b;
}

.error-message {
  margin-top: 10px;
}
