/* CSS for FoodChecker component */
.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--color-gray-100);
  border-radius: 15px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-gray-700);
}

.formcontrol {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-gray-300);
  border-radius: 20px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
}

.formcontrol:focus {
  outline: none;
  border-color: var(--color-primary-500);
  box-shadow: 0 0 0 2px var(--color-primary-100);
}

.resultsContainer {
  padding: 10px;
  background-color: var(--color-gray-200);
  border-radius: 14px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color-primary-900);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--color-primary-600);
  color: white;
}

tr {
  background-color: var(--color-gray-600);
}

tr:nth-child(even) {
  background-color: var(--color-gray-100);
}

tr:hover {
  background-color: var(--color-gray-800);
}

.btn {
  width: 80%;
  align-self: center;
}

.edamam {
  margin-top: 50px;
  width: 15%;
}
