.bolusresultscontainer {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--color-gray-200);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.bolusresultsheading {
  font-size: 24px;
  color: var(--color-gray-900);
  margin-bottom: 16px;
}

.bolusresultstext {
  font-size: 18px;
  color: var(--color-gray-700);
}
